.avatar {
  margin: 10px;
  max-width: 80px;
  border: 2px solid black;
}

.nickname {
  text-align: center;
}

.nickname-author {
  font-weight: bold;
}

.card:not(:last-child) {
  border-bottom: 0px !important;
}

.card {
  border-radius: 0px !important;
  padding: 0px !important;
}

a:not(:last-child) .card {
  border-bottom: 0px !important;
}

.card-avatar {
  margin-top: 5px;
}

.dashboard a {
  color: black;
  -webkit-text-decoration: auto;
          text-decoration: auto;
}

.auth .nickname-author {
  margin-right: 10px;
}

.container {
  background-color: white !important;
  margin: 20px;
  border-radius: 10px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

body {
  background: url(https://thumbs.gfycat.com/PotableEmbarrassedFrenchbulldog-max-1mb.gif) repeat;
}

footer {
  margin-top: 100%;
  cursor: pointer;
  justify-self: flex-end;
}

.card-body {
  justify-content: space-between !important;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto !important;
}

.card-text {
  word-break: break-all;
}

.card-avatar {
  max-width: 10%;
  min-width: 100px;
}

.status {
  font-weight: 100;
  font-size: 12px;
  margin: 0px !important;
}
